<!DOCTYPE html>
<html ng-strict-di ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Fraction calculator</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="equation">
        <form ng-controller="EquationCtrl" name="equationForm">
            <span ng-repeat="item in equation" class="item" ng-class="{editable: $index !== (equation.length - 1)}">
                <!-- operation -->
                <div class="operation" ng-if="$index !== 0">
                    <div ng-if="$index !== (equation.length - 1)">
                        &nbsp;<input class="field" ng-model="item.oper" required maxlength="1" ng-pattern="/^[\+\-\*\/]$/" />
                    </div>
                    <div ng-if="$index === (equation.length - 1)">
                        &nbsp;<span class="field">=</span>
                    </div>
                </div>

                <!-- fraction -->
                <div class="fraction">
                    <div ng-if="$index !== (equation.length - 1)">
                        <div class="field" ng-model="item.x" number-input="^(\-?[1-9][0-9]*|0)$"></div>
                        <div class="field" ng-model="item.y" number-input="^\-?[1-9][0-9]*$"></div>
                    </div>
                    <div ng-if="$index === (equation.length - 1)" ng-class="{whole: item.y === 1 || !item.y}">
                        <div class="field">{{item.x}}</div>
                        <div class="field" ng-hide="item.y === 1 || !item.y">{{item.y}}</div>
                    </div>
                </div>

                <!-- actions -->
                <div class="actions" ng-class="{hidden: $index === (equation.length - 1)}">
                    <span class="btn" ng-click="insertFraction($index + 1)" title="Добавить">+</span>
                    <span class="btn" ng-click="removeFraction($index)" ng-class="{disabled: !canRemoveFraction()}" title="Удалить">-</span>
                </div>
            </span>

            <!--<pre ng-bind="equation | json" style="font-size: 10pt"></pre>-->
        </form>
    </div>
</body>
</html>