<!DOCTYPE html>
<html ng-strict-di ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Fraction calculator</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="equation">
        <h1>Fraction Calculator</h1>
        <form ng-controller="EquationCtrl">
            <!-- operation -->
            <div ng-repeat-start="item in equation" class="operation" ng-if="$index !== 0">
                <div ng-if="$index !== (equation.length - 1)">
                    &nbsp;<input class="field" ng-model="item.oper" required maxlength="1" ng-pattern="/^[\+\-\*\/]$/" />
                </div>
                <div ng-if="$index === (equation.length - 1)">
                    &nbsp;<span class="field">=</span>
                </div>
            </div>

            <!-- fraction -->
            <div ng-repeat-end class="fraction">
                <div ng-if="$index !== (equation.length - 1)">
                    <span class="field" ng-model="item.x" number-input="^(\-?[1-9][0-9]*|0)$"></span>
                    <span class="field" ng-model="item.y" number-input="^\-?[1-9][0-9]*$"></span>
                </div>
                <div ng-if="$index === (equation.length - 1)">
                    <span class="field">{{item.x}}</span>
                    <span class="field">{{item.y}}</span>
                </div>
            </div>

            <!--<pre ng-bind="equation | json" style="font-size: 10pt"></pre>-->
        </form>
    </div>
</body>
</html>